<footer class="footer page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">
          Face Detection Benchmark compares 4 face detectors, which can be used on front-end.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12">
          Made by <a
            class="grey-text text-lighten-5"
            href="https://github.com/mciastek/"
            target="_blank"
            rel="noopener"
          >Mirek Ciastek</a> (MIT License)
          <a
            class="grey-text text-lighten-5 right"
            href="https://github.com/mciastek/face-detection-benchmark"
            target="_blank"
            rel="noopener"
          >Code on Github</a>
        </div>
      </div>
    </div>
  </div>
</footer>
