<header class="header">
  <nav>
    <div class="nav-wrapper row">
      <div class="header__container col s12">
        <h1 class="brand-logo">Face Detection Benchmark</h1>
        <ul id="nav-mobile" class="right">
          <li>
            <div class="header__input input-field">
              <select class="js-select"></select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
