<div class="images-upload">
  <div class="images-upload__preview js-images-preview row"></div>

  <div class="file-field input-field">
    <div class="btn">
      <span>Upload images</span>
      <input class="js-images-upload" type="file" accept="image/jpeg,image/png" multiple>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Up to 10 images (jpg or png)">
    </div>
  </div>
</div>
