<div class="images-upload">
  <div class="file-field input-field">
    <div class="btn red lighten-2">
      <span>Upload images</span>
      <input class="js-images-upload" type="file" accept="image/jpeg,image/png" multiple>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Up to 10 images (jpg or png), max 600x600 px">
    </div>
  </div>

  <div class="images-upload__preview">
    <div class="js-images-preview row"></div>
  </div>
</div>
