//=======================
// Colors
// http://chir.ag/projects/name-that-color
//=======================

$white: #fff;
$black: #000;
$radical-red: #fb4066;

$text: $black;
$background: $white;
$accent: $radical-red;
